<AuLabel {{did-insert this.loadData}}>{{@field.label}}</AuLabel>
{{#if this.errors}}
  {{#each this.errors as |error|}}
    <p class="small u-spacer--tb--tinier form__error">{{error.resultMessage}}</p>
  {{/each}}
{{/if}}
{{#if this.remoteErrors}}
  {{#each this.remoteErrors as |error|}}
    <span class="small u-spacer--tb--tinier form__error">{{error.resultMessage}}</span>
  {{/each}}
{{/if}}
<table class="data-table u-spacer--bottom--tiny">
  <tbody data-test-mn="url-box-list">
  {{#each this.remoteUrls as |file|}}
    <tr>
      <td>

        <Input
                class="input-field input-field--block input-field--small"
                placeholder="http://wwww.uw-bestuur.be/specifiek-document"
                value={{file.remoteUrl.address}}
                @focus-out={{fn this.updateRemoteUrl file}}
        />
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-3">
            {{#if file.errors}}
              <p class="small u-spacer--tb--tinier form__error">Ongeldige link. Ongeldige links worden niet
                behandeld.</p>
              <p class="small u-spacer--bottom--tinier">Zorg dat vooraan in de link altijd http://, https://, ftp://
                of sftp:// staat.</p>
            {{/if}}
          </div>
          <div class="au-o-grid__item au-u-1-3">
            <div class="button-group u-spacer--top--tiny u-align-right">
              <a href={{file.remoteUrl.address}} target="_blank" rel="noopener"
                 class="u-spacer--bottom--tiny button button--small button--alt"><i class="vi vi-external"></i>Bekijk
                link</a>
              {{#if file.remoteUrl.replicatedFile.downloadLink}}
                <a href={{file.remoteUrl.replicatedFile.downloadLink}} download
                   class="u-spacer--bottom--tiny button button--small button--alt"><i
                        class="vi vi-document-small"></i>Download opgeslagen pagina<sup>*</sup></a>
              {{/if}}
              <a class="toggle u-spacer--bottom--tiny button button--small button--alt button--alt--warning" {{on
                      "click" (fn this.removeRemoteUrl file)}} role="button"><i class="vi vi-cross vi-u-xs"></i>Verwijder&nbsp;link</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td>
      <div class="u-align-center">
        {{#unless remoteUrls}}
          <p class="u-spacer--tb--tiny">Nog geen links toegevoegd.</p>
        {{/unless}}
        <button class="button u-spacer--bottom--tiny" {{action "addUrlField"}}>
          <i class="vi vi-plus button__icon" aria-hidden="true"></i> Voeg nieuwe link toe
        </button>
        <div>
          <p class="small u-spacer--top--tiny">Enkel links naar specifieke documenten, geen overzichtspagina's.</p>
          <p class="small u-spacer--bottom--tiny"><sup>*</sup>Op het moment van versturen, wordt er een versie<br>
            gedownload van de pagina die op de link te vinden is.</p>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
