<LinkTo @route="index">Back</LinkTo>
{{#if this.model.disclaimer}}
  <h1 style="color: red; font-size: 1.2em;">{{this.model.disclaimer}}</h1>
{{/if}}
<Form::Root @form={{this.form}} @data={{this.model}} @graphs={{this.graphs}} @sourceNode={{this.sourceNode}} @formStore={{this.formStore}} />
<button {{on "click" this.send}}>Verzenden</button>

<h1
  {{did-insert this.registerObserver}}
  {{did-insert this.setTriplesForTable}}>

  Triples in Form

</h1>
<h2>Found {{this.datasetTriples.length}} triples</h2>
<TriplesTable @triples={{this.datasetTriples}} />
