<LinkTo @route="index">Back</LinkTo>
<Form::Root @form={{this.form}} @data={{this.model}} @graphs={{this.graphs}} @sourceNode={{this.sourceNode}} @formStore={{this.formStore}} />
<button {{on "click" this.send}}>Verzenden</button>
