<AuMainContainer
  {{did-insert this.registerObserver}}
  {{did-insert this.setTriplesForTables}}
  as |mc|>
  <mc.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <AuLink
          @route="index"
          @icon="arrow-left"
          @iconAlignment="left"
          @skin="button"
          class="au-u-margin">
          {{t "edit.cancel-back"}}
        </AuLink>
        <nav class="au-u-margin-bottom">
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuButton
                @skin="link"
                @icon="document"
                @iconAlignment="left"
                class="au-c-list-navigation__link au-u-button-to-list-navigation {{if this.formVisible "active"}}"
                {{on "click" this.showForm}}>
                {{t "edit.nav.edit-form"}}
              </AuButton>
            </li>
            <li class="au-c-list-navigation__item">
              <AuButton
                @skin="link"
                @icon="html"
                @iconAlignment="left"
                class="au-c-list-navigation__link au-u-button-to-list-navigation {{if this.triplesVisible "active"}}"
                {{on "click" this.showTriples}}>
                {{t "edit.nav.triples-summary"}}
              </AuButton>
            </li>
          </ul>
        </nav>
        <div class="au-u-padding au-u-padding-top-tiny">
          {{!--Submission info--}}
          <AuHeading @level="3" @skin="4" class="au-u-margin-bottom">
            {{t "submission.info-title"}}
          </AuHeading>
          <div class="au-u-flex--inline au-u-flex--wrap au-u-flex--spaced">
            <div>
              <AuLabel>{{t "submission.modifier"}}</AuLabel>
              {{#if this.model.submission.lastModifier.fullName}}
                <p>{{this.model.submission.lastModifier.fullName}}</p>
              {{else if this.model.submission.job}}
                <p>{{t "submission.created-automatic"}}</p>
              {{/if}}
            </div>
            <div>
              <AuLabel>{{t "submission.created"}}</AuLabel>
              <p>{{date-format this.model.submission.created "dd/MM/yyyy"}}</p>
            </div>
            <div>
              <AuLabel>{{t "submission.modified"}}</AuLabel>
              <p>{{date-format this.model.submission.modified "dd/MM/yyyy"}}</p>
            </div>
            {{#if this.model.submitted}}
              <AuAlert
                @icon="check"
                @title={{t "submission.sent-title"}}
                @skin="success"
                @size="small">
              <p>{{t "submission.sent-more"}} {{date-format this.model.submission.sentDate 'dd/MM/yyyy'}}</p>
              </AuAlert>
            {{/if}}
          </div>
          {{!--End submission info--}}
        </div>
      </div>
    </div>
  </mc.sidebar>
  <mc.content @scroll={{true}}>
    <AuToolbar
      @border="bottom"
      @skin="none"
      @size="large">
      <AuHeading @level="2" @skin="2">
        {{t "edit.title"}}
      </AuHeading>
    </AuToolbar>

    <div class="au-u-padding {{unless this.formVisible "au-u-hidden"}}">
      <SubmissionForm @form={{this.form}}
        @show={{this.model.submitted}}
        @graphs={{this.graphs}}
        @sourceNode={{this.sourceNode}}
        @formStore={{this.formStore}}
        @forceShowErrors={{this.forceShowErrors}}/>
    </div>

    <div class="au-u-padding {{unless this.triplesVisible "au-u-hidden"}}">
      <AuHeading @level="3" @skin="3">
        {{t "edit.triples.title"}}
      </AuHeading>

      <AuHeading @level="4" @skin="4">
        {{t "edit.triples.automatic-title"}} {{!-- Triples --}}
      </AuHeading>
      {{#if this.datasetTriples}}
        <p class="au-u-margin-top-small au-u-margin-bottom">
          {{t "edit.triples.number-automatic"}} {{this.datasetTriples.length}}
        </p>
        <div class="au-u-margin-bottom">
          <TriplesTable @triples={{this.datasetTriples}} />
        </div>
      {{else}}
        <AuAlert
          @skin="info"
          @icon="info-circle"
          @size="small"
          class="au-u-margin-left au-u-margin-top-small">
          {{t "edit.triples.automatic-no-data"}}
        </AuAlert>
      {{/if}}

      <AuHeading @level="4" @skin="4">
        {{t "edit.triples.manual-title"}} {{!-- ADDED triples --}}
      </AuHeading>
      {{#if this.addedTriples}}
        <p class="au-u-margin-top-small au-u-margin-bottom">
          {{t "edit.triples.number-manual"}} {{this.addedTriples.length}}
        </p>
        <div class="au-u-margin-bottom">
          <TriplesTable @triples={{this.addedTriples}} />
        </div>
      {{else}}
        <AuAlert
          @skin="info"
          @icon="info-circle"
          @size="small"
          class="au-u-margin-left au-u-margin-top-small">
          {{t "edit.triples.manual-no-data"}}
        </AuAlert>
      {{/if}}

      <AuHeading @level="4" @skin="4">
        {{t "edit.triples.add-remove-title"}} {{!-- REMOVED triples --}}
      </AuHeading>
      {{#if this.removedTriples}}
        <p class="au-u-margin-top-small au-u-margin-bottom">
          {{t "edit.triples.number-add-remove"}} {{this.removedTriples.length}}
        </p>
        <div class="au-u-margin-bottom">
          <TriplesTable @triples={{this.removedTriples}} />
        </div>
      {{else}}
        <AuAlert
          @skin="info"
          @icon="info-circle"
          @size="small"
          class="au-u-margin-left au-u-margin-top-small">
          {{t "edit.triples.add-remove-no-data"}}
        </AuAlert>
      {{/if}}
    </div>

    {{#unless this.model.submitted}}
      <AuToolbar
        @border="top"
        @size="large"
        as |Group|>
        <Group>
          <AuButton
            @icon="upload"
            @iconAlignment="left"
            @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
            @loading={{if this.submit.isRunning "true"}}
            @loadingMessage={{t "edit.send-loading"}}
            {{on "click" (perform this.submit)}}>
            {{t "edit.send"}}
          </AuButton>
          <AuButton
            @icon="draft"
            @iconAlignment="left"
            @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
            @loading={{if this.save.isRunning "true"}}
            @loadingMessage={{t "edit.save-loading"}}
            @skin={{"secondary"}}
            {{on "click" (perform this.save)}}>
            {{t "edit.save" }}
          </AuButton>
        </Group>
        <Group>
          <AuButton
            @icon="trash"
            @iconAlignment="left"
            @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
            @loading={{if this.delete.isRunning "true"}}
            @loadingMessage={{t "edit.delete-loading"}}
            @skin="primary"
            @alert={{true}}
            {{on "click" (perform this.delete)}}>
            {{t "edit.delete" }}
          </AuButton>
        </Group>
      </AuToolbar>
    {{/unless}}
  </mc.content>
</AuMainContainer>