<LinkTo @route="index">Back</LinkTo>
<Form::Root @form={{this.form}} @data={{this.model}} @graphs={{this.graphs}} @sourceNode={{this.sourceNode}} @formStore={{this.formStore}} />
<button {{on "click" this.send}}>Verzenden</button>

<h1
  {{did-insert this.registerObserver}}
  {{did-insert this.setTriplesForTables}}>

  Triples in Form

</h1>
<h2>Found {{this.datasetTriples.length}} triples</h2>
<TriplesTable @triples={{this.datasetTriples}} />

<h2>Found {{this.addedTriples.length}} added triples</h2>
<TriplesTable @triples={{this.addedTriples}} />

<h2>Found {{this.removedTriples.length}} added triples</h2>
<TriplesTable @triples={{this.removedTriples}} />
