<div class="form__row from__row--date" {{did-insert this.loadData}}>
  <div class="form__label">
    <label class="form__label">{{@field.label}}</label>
  </div>
  <div class="u-spacer--bottom--small">
    <div class="u-spacer--tiny">
      <div class="double-input js-double-input">
        <div class="double-input__inputs">
          <WuDatepicker @dateFormat="DD.MM.YYYY"
                        @onChange={{this.updateValue}}
                        @value={{this.date}}/>
        </div>
        <div class="double-input__inputs">
          <div class="double-input__input" style="width:30%">
            <Input class="input-field input-field--block"
                   placeholder="12"
                   @value={{this.hour}}
                   @type="number"
                   @min="0"
                   @max="23"
              {{on "blur" this.updateValue}}/> uur.
          </div>
          <div class="double-input__input" style="width:30%">
            <Input class="input-field input-field--block"
                   placeholder="00"
                   @value={{this.minutes}}
                   @type="number"
                   @min="0"
                   @max="59"
              {{on "blur" this.updateValue}}/> min.
          </div>
        </div>
      </div>
    </div>
    {{#if this.errors}}
      {{#each this.errors as |error|}}
        <span class="form__error"> {{error.resultMessage}} </span>
      {{/each}}
    {{/if}}
  </div>
</div>
