<label {{did-insert this.loadData}}>{{@field.label}}</label>
{{!-- <Input  {{on "blur" this.updateValue}} @value={{this.value}} /> --}}
<WuDatepicker @dateFormat="DD.MM.YYYY" @onChange={{this.updateValue}} @value={{this.date}}/>
<Input {{on "blur" this.updateValue}} @value={{this.hour}} @type="number" @min="0" @max="23"/> uur
<Input {{on "blur" this.updateValue}} @value={{this.minutes}} @type="number" @min="0" @max="59"/> minuten
{{#if this.errors}}
  {{#each this.errors as |error|}}
    <span style="color: red"> {{error.resultMessage}} </span>
  {{/each}}
{{/if}}
