<div class="form__row from__row--date" {{did-insert this.loadData}}>
  <div class="form__label">
    <label class="form__label">{{@field.label}}</label>
  </div>
  <div class="u-spacer--bottom--small">
    <Input class="input-field input-field--block u-spacer--bottom--small input-field--disabled"
           @disabled={{true}}
           @value={{this.date}}/>
    {{!-- <WuDatepicker @dateFormat="DD.MM.YYYY"
                  @disabled={{true}}
                  @onChange={{this.updateValue}}
                  @value={{this.value}}/> --}}
  </div>
</div>
