<label {{did-insert this.loadData}}>{{@field.label}}</label>
<Input  {{on "blur" this.updateValue}} @value={{this.value}} />
{{!-- <WuDatepicker/> --}}
{{#if errors}}
  {{#each errors as |error|}}
    <span style="color: red"> {{error.resultMessage}} </span>
  {{/each}}
{{/if}}
