<label {{did-insert this.loadData}}>{{@field.label}}</label>
{{!-- <Input  {{on "blur" this.updateValue}} @value={{this.value}} /> --}}
<WuDatepicker @dateFormat="DD.MM.YYYY" @onChange={{this.updateValue}} @value={{this.value}}/>
{{#if this.errors}}
  {{#each this.errors as |error|}}
    <span style="color: red"> {{error.resultMessage}} </span>
  {{/each}}
{{/if}}
