<div {{did-insert this.loadData}}>

  {{#each this.propertyGroups as |propertyGroup|}}
    <ul>
      {{#each propertyGroup.sortedFields as |field|}}
        <li>
          {{#if @show}}
            {{component (component-for-display-type-show field.displayType)
                        field=field
                        formStore=@formStore
                        graphs=@graphs
                        sourceNode=@sourceNode         }}
          {{else}}
            {{component (component-for-display-type-edit field.displayType)
                        field=field
                        formStore=@formStore
                        graphs=@graphs
                        sourceNode=@sourceNode         }}
          {{/if}}

        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>

{{yield}}
