<AuLabel {{did-insert this.loadData}} class="au-c-label">{{@field.label}}</AuLabel>
<PowerSelect  @searchField={{"label"}} @searchEnabled={{true}} @selected={{this.selected}} @options={{this.options}} @onChange={{this.updateSelection}} as |typeDossier|>
  {{typeDossier.label}}
</PowerSelect>
{{#if errors}}
  {{#each errors as |error|}}
     <span style="color: red"> {{error.resultMessage}} </span>
  {{/each}}
{{/if}}
