<AuLabel {{did-insert this.loadData}} class="au-c-label">{{@field.label}}</AuLabel>
<PowerSelect
  @searchField={{"label"}}
  @searchEnabled={{true}}
  @selected={{this.selected}}
  @options={{this.options}}
  @onChange={{this.updateSelection}}
  as |concept|>
  {{concept.label}}
</PowerSelect>

{{#each this.errors as |error|}}
  <span> {{error.resultMessage}} </span>
{{/each}}
