{{outlet}}
<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @filter={{this.filter}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |table|>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-u-padding" as |Group|>
        <Group>
          <AuHeading @level="1" @skin="1">
            {{t "main.title"}}
          </AuHeading>
        </Group>
        <Group>
          <AuLink
            @route="forms.new"
            @skin="button"
            @icon="plus"
            @iconAlignment="left">
            {{t "main.create-submission"}}
          </AuLink>
        </Group>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="formData.passedBy.isTijdsspecialisatieVan.naam"
        @currentSorting={{this.sort}}
        @label={{t "submission.unit"}}/>
      <th>{{t "submission.type"}}</th>
      <AuDataTableThSortable
        @class="au-u-visible-small-up"
        @field="formData.sessionStartedAtTime"
        @currentSorting={{this.sort}}
        @label={{t "submission.date"}}/>
      <th>{{t "submission.creator"}}</th>
      <th>{{t "submission.modifier"}}</th>
      <AuDataTableThSortable
        @class="au-u-visible-large-up"
        @field="sentDate"
        @currentSorting={{this.sort}}
        @label={{t "submission.sent"}}/>
      <AuDataTableThSortable
        @field="status.label"
        @currentSorting={{this.sort}}
        @label={{t "submission.status"}}/>
      <th>{{t "submission.action"}}</th>
    </c.header>
    <c.body as |row|>
      <td>
        {{row.formData.passedBy.isTijdsspecialisatieVan.naam}}
      </td>
      <td>
        <Toezicht::SubmissionType @formData={{row.formData}} />
      </td>
      <td class="au-u-visible-small-up">
        {{date-format row.formData.sessionStartedAtTime "dd/MM/yyyy"}}
      </td>
      <td class="au-u-visible-medium-up">
        {{#if row.job}}
          <p class="au-u-muted au-u-para-tiny">{{t "submission.created-automatic"}}</p>
        {{else}}
          <p>{{row.creator.fullName}}</p>
        {{/if}}
      </td>
      <td class="au-u-visible-small-up">
        {{#if row.job}}
          <p class="au-u-muted au-u-para-tiny">{{t "submission.created-automatic"}}</p>
        {{else}}
          <p>{{row.lastModifier.fullName}}</p>
        {{/if}}
      </td>
      <td class="au-u-visible-large-up">
        {{date-format row.sentDate "dd/MM/yyyy"}}
      </td>
      <td>
        <AuPill @skin={{if row.status.isSent "success" "default"}}>{{row.status.label}}</AuPill>
      </td>
      <td>
        <AuLink
          @route='forms.edit'
          @model={{row.id}}
          @skin="button"
          @icon="visible"
          @iconAlignment="left">
          {{t "submission.details"}}
        </AuLink>
      </td>
    </c.body>
  </table.content>
</AuDataTable>
