{{outlet}}
<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @filter={{this.filter}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|>
  <t.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-u-padding" as |Group|>
        <Group>
          <AuHeading @level="1" @skin="1">
            Test loket voor meldingen
          </AuHeading>
        </Group>
        <Group>
          <AuLink
            @route="forms.new"
            @skin="button"
            @icon="plus"
            @iconAlignment="left">
            Maak nieuw formulier aan
          </AuLink>
        </Group>
      </AuToolbar>
    </menu.general>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="formData.passedBy.isTijdsspecialisatieVan.naam"
        @currentSorting={{this.sort}}
        @label="Orgaan"/>
      <th>Type dossier</th>
      <AuDataTableThSortable
        @class="au-u-visible-small-up"
        @field="formData.sessionStartedAtTime"
        @currentSorting={{this.sort}}
        @label="Datum zitting/besluit"/>
      <th>Aangemaakt door</th>
      <th>Laatst gewijzigd door</th>
      <AuDataTableThSortable
        @class="au-u-visible-large-up"
        @field="sentDate"
        @currentSorting={{this.sort}}
        @label="Datum verstuurd"/>
      <AuDataTableThSortable
        @field="status.label"
        @currentSorting={{this.sort}}
        @label="Status"/>
      <th>Actie</th>
    </c.header>
    <c.body as |row|>
      <td>
        {{row.formData.passedBy.isTijdsspecialisatieVan.naam}}
      </td>
      <td>
        <Toezicht::SubmissionType @formData={{row.formData}} />
      </td>
      <td class="au-u-visible-small-up">
        {{date-format row.formData.sessionStartedAtTime "dd/MM/yyyy"}}
      </td>
      <td class="au-u-visible-medium-up">
        {{#if row.job}}
          <AuHelpText>Automatisch bij publicatie</AuHelpText>
        {{else}}
          <AuHelpText>{{row.creator.fullName}}</AuHelpText>
        {{/if}}
      </td>
      <td class="au-u-visible-small-up">
        {{#if row.job}}
          <AuHelpText>Automatisch aangemaakt bij publicatie</AuHelpText>
        {{else}}
          <AuHelpText>{{row.lastModifier.fullName}}</AuHelpText>
        {{/if}}
      </td>
      <td class="au-u-visible-large-up">
        {{date-format row.sentDate "dd/MM/yyyy"}}
      </td>
      <td>
        <AuPill @skin={{if row.status.isSent "success" "default"}}>{{row.status.label}}</AuPill>
      </td>
      <td>
        <LinkTo @route="forms.edit" @model={{row.id}}>Bekijk</LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>
