{{outlet}}
<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <MockLogout @tagName={{'button'}} class="au-c-button-link au-c-button-link--neutral au-u-margin-bottom-small">&leftarrow; Meld u af</MockLogout>
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <h1 class="au-u-h1 au-u-margin-bottom">Test Loket voor meldingen</h1>
    </div>
    <div class="au-o-grid__item au-u-1-2@medium au-u-text-right">
      <LinkTo @route="forms.new" class="au-c-button" type="button">Maak nieuw formulier aan</LinkTo>
    </div>
  </div>

  {{#data-table
    content=model
    isLoading=isLoadingModel
    filter=filter
    sort=sort
    page=page
    size=size
  as |t|
  }}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='formData.passedBy.isTijdsspecialisatieVan.naam' currentSorting=sort label='Orgaan'}}
      {{th-sortable field='formData.sessionStartedAtTime' currentSorting=sort label='Datum zitting/besluit'}}
      {{th-sortable field='sentDate' currentSorting=sort label='Datum verstuurd'}}
      {{th-sortable field='status.label' currentSorting=sort label='Status'}}
      {{th-sortable field='' currentSorting=sort label=''}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.formData.passedBy.isTijdsspecialisatieVan.naam}}</td>
      {{#if row.formData.sessionStartedAtTime}}
        <td>
          {{moment-format row.formData.sessionStartedAtTime 'DD/MM/YYYY'}}
        </td>
      {{else}}
        <td></td>
      {{/if}}

      {{#if row.sentDate}}
        <td>{{moment-format row.sentDate 'DD/MM/YYYY'}}</td>
      {{else}}
        <td></td>
      {{/if}}

      <td>{{row.status.label}}</td>
      <td>{{#link-to 'forms.edit' row.id}}details{{/link-to}}</td>

    {{/c.body}}
  {{/t.content}}
  {{/data-table}}
</div>
