{{outlet}}
<div class="au-u-padding-top-large au-u-padding-left au-u-padding-right">
  <MockLogout @tagName={{"button"}} class="au-c-button-link au-c-button-link--neutral au-u-margin-bottom-small">
    &leftarrow; Meld u af
  </MockLogout>
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <h1 class="au-u-h1 au-u-margin-bottom">Test Loket voor meldingen</h1>
    </div>
    <div class="au-o-grid__item au-u-1-2@medium au-u-text-right">
      <LinkTo @route="forms.new" class="au-c-button" type="button">Maak nieuw formulier aan</LinkTo>
    </div>
  </div>

  <DataTable
          @content={{this.model}}
          @isLoading={{this.isLoadingModel}}
          @filter={{this.filter}}
          @sort={{this.sort}}
          @page={{this.page}}
          @size={{this.size}}
          as |t|
  >
    <t.content as |c|>
      <c.header>
        <ThSortable @field="formData.passedBy.isTijdsspecialisatieVan.naam" @currentSorting={{this.sort}}
                    @label="Orgaan"/>
        <th>Type dossier</th>
        <ThSortable @class="au-u-visible-small-up" @field="formData.sessionStartedAtTime" @currentSorting={{this.sort}}
                    @label="Datum zitting/besluit"/>
        <th class="au-u-visible-medium-up">Aangemaakt door</th>
        <th class="au-u-visible-small-up">Laatst gewijzigd door</th>
        <ThSortable @class="au-u-visible-large-up" @field="sentDate" @currentSorting={{this.sort}}
                    @label="Datum verstuurd"/>
        <ThSortable @field="status.label" @currentSorting={{this.sort}} @label="Status"/>
        <th></th>
      </c.header>
      <c.body as |row|>
        <td>
          {{row.formData.passedBy.isTijdsspecialisatieVan.naam}}
        </td>
        <td>
          <Toezicht::SubmissionType @formData={{row.formData}} />
        </td>
        <td class="au-u-visible-small-up">
          {{moment-format row.formData.sessionStartedAtTime "DD/MM/YYYY"}}
        </td>
        <td class="au-u-visible-medium-up">
          {{#if row.task.created }}
            <AuHelpText>Automatisch bij publicatie</AuHelpText>
          {{else}}
            <AuHelpText>{{row.creator.fullName}}</AuHelpText>
          {{/if}}
        </td>
        <td class="au-u-visible-small-up">
          {{#if row.lastModifier.fullName}}
            <AuHelpText>{{row.lastModifier.fullName}}</AuHelpText>
          {{else if row.task.created}}
            <AuHelpText>Automatisch aangemaakt bij publicatie</AuHelpText>
          {{/if}}
        </td>
        <td class="au-u-visible-large-up">
          {{moment-format row.sentDate "DD/MM/YYYY"}}
        </td>
        <td>
          <AuPill @skin={{if row.status.isSent "success" "warning"}}>{{row.status.label}}</AuPill>
        </td>
        <td>
          <LinkTo @route="forms.edit" @model={{row.id}}>Bekijk</LinkTo>
        </td>
      </c.body>
    </t.content>
  </DataTable>
</div>
