{{outlet}}
<h1 class="h1">Test Loket voor meldingen</h1>
<div class="grid">
  <div class="col--9-12">
    {{#link-to 'forms.new'}}Maak nieuw formulier aan{{/link-to}}
  </div>
  <div class="col--3-12 u-align-right">
    <MockLogout @tagName={{'a'}}/>
  </div>
</div>
{{#data-table
        content=model
        isLoading=isLoadingModel
        filter=filter
        sort=sort
        page=page
        size=size
as |t|
}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='formData.passedBy.isTijdsspecialisatieVan.naam' currentSorting=sort label='Orgaan'}}
      {{th-sortable field='created' currentSorting=sort label='Datum zitting/besluit'}}
      {{th-sortable field='sentDate' currentSorting=sort label='Datum verstuurd'}}
      {{th-sortable field='status.label' currentSorting=sort label='Status'}}
      {{th-sortable field='' currentSorting=sort label=''}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.formData.passedBy.isTijdsspecialisatieVan.naam}}</td>
      {{#if row.created}}
        <td>{{moment-format row.created 'DD/MM/YYYY'}}</td>
      {{else}}
        <td></td>
      {{/if}}

      {{#if row.sentDate}}
        <td>{{moment-format row.sentDate 'DD/MM/YYYY'}}</td>
      {{else}}
        <td></td>
      {{/if}}

      <td>{{row.status.label}}</td>
      <td>{{#link-to 'forms.edit' row.id}}details{{/link-to}}</td>

    {{/c.body}}
  {{/t.content}}
{{/data-table}}
